useDynLib(fkbl)
export(  CPart )
export(  CP )
export(  CPart2 )
export(  CP2 )
export(  CRule )
export(  CR )
export(  TkbAnalytic )
export(  TkbAnalyticL )
export(  TkbAnalyticP ) 
export(  TkbAn )
export(  TkbAnl )
export(  TkbAnp )
export(  checkXML )
export(  CKnowledgeBase )
export(  CKB )
export(  XML2kb )
export(  Kb2XML )
export(  getClasses )
export(  gC )
export(  Inference )
export(  I )
export(  Inference1Winner )
export(  I1W )
export(  TkbRewardPunishment )
export(  TkbRewardPunishmentP )
export(  TkbRewardPunishmentL )
export(  TkbRP )
export(  TkbRPp )
export(  TkbRPl )
export(  LkbConfidenceSupport )
export(  LkbConfidenceSupportP )
export(  LkbConfidenceSupportL )
export(  LkbCS )
export(  LkbCSp )
export(  LkbCSl )
export(  getExecute )
export(  gEx )
export(  getErrors )
export(  gE )
export(  gP )
export(  gTe )
export(  gTr )
export(  getPart )
export(  getTest )
export(  getTrain )
export(  EXPERIMENT )
export(  expGetCl )
export(  expGetKb )
export(  expGetE )
export(  EXPERIMENTmO )
export(  LkbGBMLMichigan )
export(  LkbGBMLHybrid )
export(	 LkbGBMLPittsBurgh )
export(  LkbGHy )
export(  LkbGMi )
export(  LkbGPtt )
export(  TkbGBMLErrorSize )
export(  TkbGES )
export(  TkbGBMLMoErrorSize )
export(  TkbGMES )
export(  TkbGBMLMoga )
export(  TkbGM )
export(	 TrainSafe )
export(  Ts )
